<%= link_to "OC Rideboard", root_path, :class => 'brand' %>
<ul class="nav">
      <li><%= link_to "Rides Offered", "/rides" %></li>
      <li><%= link_to "Rides Requested", "/requests"%></li>
      <li><%= link_to "Offer a Ride", new_ride_path %></li> 
      <li><%= link_to "Add a Request", new_request_path %></li>
      <li><%= link_to "About OC Rideboard", info_about_path%></li>  
</ul>
